{% extends 'base.html' %}
{% block content %}
<div class="signup">
    <div class="ui card">
        <div class="content">
        <div class="header">Sign In</div>
        </div>
        <div class="content">
            <div class="icon-group">
                <a href=""><img src="{{url_for('static', filename='instagram.png')}}"></a>
                <a href=""><img src="{{url_for('static', filename='facebook.png')}}"></a>
                <a href=""><img src="{{url_for('static', filename='google.png')}}"></a>
            </div> 
            <div class="ui horizontal divider">
                OR
            </div>
        <form class="ui form" method="POST">
            {{form.hidden_tag()}}
            {{form.email(placeholder="email")}} <br><br>
            {{form.password(placeholder="password")}} <br><br>
        </div>
        <div class="extra content">
            {{form.submit(class="ui button")}}
            <a href="{{url_for('index')}}"class="negative ui button">Cancel</a>
        </div>
        <div class="or">
            <p>Haven't got an account? | <a href="{{url_for('signup')}}">Sign Up</a>
            </p>
        </div>
        <!-- <div class="ui horizontal divider">
            Or
        </div> -->
    </form>
    </div>
</div>
{% endblock %}
